		.style-2 input {
			padding: 10px;
  			border: solid 5px #c9c9c9;
		  -webkit-transition: border 0.3s;
		  -moz-transition: border 0.3s;
		  -o-transition: border 0.3s;
		  transition: border 0.3s;
		}
		.style-2 input:focus, .style-2 input[type="text"].focus {
		  		border: solid 5px #969696;
		}
		input {
		  display: block;
		  margin: 0;
		  width: 100%;
		  font-family: sans-serif;
		  font-size: 18px;
		  appearance: none;
		  box-shadow: none;
		  border-radius: none;
		}
		input:focus {
			outline: none;
		}


		ul.input-list {
			list-style: none;
			margin: 0 -10px;
			padding: 0;
		}
		ul.input-list li {
			display: block;
			padding: 0 120px;
			margin-top: 20px;
			margin-right: 50px;
			width: 50%;
			float: left;
		}
		input[type=submit] {
			width: 100%;
			background-color: #4CAF50;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			margin-left: 12px;
		}

		input[type=submit]:hover {
			background-color: #45a049;
		}


		@media all and (max-width: 800px) {
		ul.input-list {
			margin: 0;
		}
		ul.input-list li {
			padding: 0;
			width: 100%;
			float: none;
			margin-bottom: 10px;
		}

		}